{% if "external-link" in templateComponent.component.name   %}
{% if "external-link" in answer.name  %}
	<div class="request-external-link-template-creation">
		<div class="request-external-link-template-content">
            <input type="hidden" name="request-component-id-{{ templateComponent.component.id }}" value="{{ templateComponent.component.id }}">
            <input type="hidden" name="request-component-question-{{ templateComponent.component.id }}" value="{{templateComponent.component.title}}">
            <input class="request-name-input" type="hidden" name="request-component-name-{{ templateComponent.component.id }}" value="{{ answer.name  }}">
			<p class="request-external-link-template-title" id="external-link-template-title">
				{{templateComponent.component.title}}
				{% if templateComponent.component.isMandatory %}
					<span class="request-external-link-red-star" id="external-link-red-star">*</span>
				{% endif %}
			</p>
            {% if templateComponent.component.isMandatory %}
			<div class="request-external-link-input">
				<input class="request-answer-input" type="url" name="answer-{{ templateComponent.component.id }}" class="form-control" id="request-select-external-link" placeholder="https://www.google.com/..." required>
			</div>
            {% else %}
			<div class="request-external-link-input">
				<input class="request-answer-input" type="url" name="answer-{{ templateComponent.component.id }}" class="form-control" id="request-select-external-link" placeholder="https://www.google.com/...">
			</div>
            {% endif %}
		</div>
	</div>
{% endif %}
{% endif %}