<div class="modal-edit-icon-select-popup-hidden">
    <div class="research_template_icon">
        {% if researchTemplate.icon is same as 'build/images/icons/template_icon_0.png' %}
            <input type="radio" class="edit_research_template_icon_0"  id="edit_research_template_icon_0_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_0.png" checked="checked">
            <label  for="edit_research_template_icon_0_{{researchTemplate.id}}" class="required">1</label>
        {% else %}
            <input type="radio" class="edit_research_template_icon_0"    id="edit_research_template_icon_0_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_0.png">
            <label  for="edit_research_template_icon_0_{{researchTemplate.id}}" class="required">1</label>
        {% endif %}
        {% if researchTemplate.icon is same as 'build/images/icons/template_icon_1.png' %}
            <input type="radio" class="edit_research_template_icon_1"    id="edit_research_template_icon_1_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_1.png" checked="checked">
            <label  for="edit_research_template_icon_1_{{researchTemplate.id}}" class="required">2</label>
        {% else %}
            <input type="radio" class="edit_research_template_icon_1"    id="edit_research_template_icon_1_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_1.png">
            <label  for="edit_research_template_icon_1_{{researchTemplate.id}}" class="required">2</label>
        {% endif %}
        {% if researchTemplate.icon is same as 'build/images/icons/template_icon_2.png' %}
            <input type="radio" class="edit_research_template_icon_2"    id="edit_research_template_icon_2_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_2.png" checked="checked">
            <label  for="edit_research_template_icon_2_{{researchTemplate.id}}" class="required">3</label>
        {% else %}
            <input type="radio" class="edit_research_template_icon_2"    id="edit_research_template_icon_2_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_2.png">
            <label  for="edit_research_template_icon_2_{{researchTemplate.id}}" class="required">3</label>
        {% endif %}
        {% if researchTemplate.icon is same as 'build/images/icons/template_icon_3.png' %}
            <input type="radio" class="edit_research_template_icon_3"    id="edit_research_template_icon_3_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_3.png" checked="checked">
            <label  for="edit_research_template_icon_3_{{researchTemplate.id}}" class="required">4</label>
        {% else %}
            <input type="radio" class="edit_research_template_icon_3"    id="edit_research_template_icon_3_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_3.png">
            <label  for="edit_research_template_icon_3_{{researchTemplate.id}}" class="required">4</label>
        {% endif %}
        {% if researchTemplate.icon is same as 'build/images/icons/template_icon_4.png' %}
            <input type="radio" class="edit_research_template_icon_4"    id="edit_research_template_icon_4_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_4.png" checked="checked">
            <label  for="edit_research_template_icon_4_{{researchTemplate.id}}" class="required">5</label>
        {% else %}
            <input type="radio" class="edit_research_template_icon_4"    id="edit_research_template_icon_4_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_4.png">
            <label  for="edit_research_template_icon_4_{{researchTemplate.id}}" class="required">5</label>
        {% endif %}
        {% if researchTemplate.icon is same as 'build/images/icons/template_icon_5.png' %}
            <input type="radio" class="edit_research_template_icon_5"    id="edit_research_template_icon_5_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_5.png" checked="checked">
            <label  for="edit_research_template_icon_5_{{researchTemplate.id}}" class="required">6</label>
        {% else %}
            <input type="radio" class="edit_research_template_icon_5"    id="edit_research_template_icon_5_{{researchTemplate.id}}" name="edit_research_template_icon_{{researchTemplate.id}}" required="required" value="build/images/icons/template_icon_5.png">
            <label  for="edit_research_template_icon_5_{{researchTemplate.id}}" class="required">6</label>
        {% endif %}
    </div>
    <div class="edit-template-icon-close">
        <span class="template-icon-cross"></span>
        <span class="template-icon-cross"></span>
    </div>
</div>
