
<div class="modal_view_all_submissions">
    <div class="request-details-title">
        <p>Requests submitted</p>
        <div class="request-details-close-container">
            <img src="{{ asset('build/images/icons/option-dots.png') }}">
            <div class="request-details-close" id="request-details-close">
                <img src="{{ asset('build/images/icons/close-dark-blue.png') }}">
            </div>
        </div>
    </div>
    <table class="view-all-submssions-table">
        <thead class="sort-by">
            <tr class="sort-choice">
                <td class="sort view-all-submssions-type">TYPE AND DATE</td>
                <td class="sort view-all-submssions-owner">OWNER</td>
                <td class="sort view-all-submssions-status">STATUS</td>
            </tr>
            <tr class="button-thead">
            </tr>
        </thead>
    </table>
    <div class="view-all-request-research-list">
        <div class="view-all-requests-list-modal" id="requests-list">
            <table>
                {% for researchRequest in researchTemplate.researchRequests %}
                {% include "home/modals/_modal_interview_planning_request.html.twig" %}
                    <tbody class="view-all-request-result">
                        <tr class="sort-choice">
                            <td class="request-details" id="view-request-type">
                                <img class="template-icon-modal" src="{{ asset(researchRequest.researchTemplate.icon)}}">
                                <div class="view-request-type-content-modal">
                                    <p class="requestType">User interview</p>
                                    <p>{{ researchRequest.creationDate|format_datetime('short', 'none', locale='fr')}}</p>
                                </div>
                            </td>
                            <td class="request-details">
                                <img class="request-owner-picture" src="https://i.pravatar.cc">{{ researchRequest.owner }}
                            </td>
                            <td class="request-details color-status">
                                {% include "home/_research_request_status.html.twig" %}
                            </td>
                        </tr>
                        <tr class="create-plan-button-container">
                            <td class="request-details">
                                <button id="{{ researchRequest.id }}" class="view-request-button">View</button>
                            </td>
                            <td class="icon-see-more">
                                <img src="{{ asset('build/images/icons/ic_More.png')}}">
                            </td>
                        </tr>
                        
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="link-container">
        <a class="view-all-requests-link" href="{{path('app_home')}}">View all requests</a>
    </div>
</div>
