{% extends 'base-plan.html.twig' %}

{% block title %}New research plan{% endblock %}

{% block body %}
<form method="POST">
<header class="header-research-plan">
    <div class="title-logo">
        <img class="logo-usedge" src="{{ asset('build/images/usedge-logo.png') }}" alt="logo usedge">
        <h1>New research plan</h1>
    </div>
    <button formaction="{{path('research_plan_save', {id: researchRequest.id})}}" class="buttonSave" id="save_and_continue_later_button" type="submit"><img src="{{ asset('build/images/icons/logout.png') }}" alt="logout">Save and continue later</button>
</header>

<div  class="sections-container" id="sections-container">
    <input type="hidden" name="_token_research_plan" value="{{ csrf_token('research_plan') }}">
    <input id="research-request-status" type="hidden" name="research-request-status" value="Solved">
    {% include "research_plan/modals/_modal_interview_planning_request.html.twig" %}
    {% include "research_plan/modals/_modal_available_workshops.html.twig" %}
    <div class="section-selected">
        <div class="section-request">
            <h1>Research request</h1>
            <a class="link-view-request" id="link-view-request" href="#">View assigned research request</a>
        </div>

        <div class="section-plan">
            <h1>Plan sections</h1> 
            {% if researchPlan is not empty %}
                {% for researchPlanSection in researchPlan.researchPlanSections %}
                    <button type="submit" formaction="{{path('edit_research_plan_section', {researchRequestId: researchPlan.researchRequest.id, sectionId: researchPlanSection.id})}}" class="button-untitled">{{researchPlanSection.title}}</button>
                {% endfor %} 
            {% endif %}  
            <input type="hidden" name="research_plan_section" value=" {{researchPlanSection.id}}">        
            <input type="button" class="button-untitled" id="button-untitled" value="Untitled">
            <button type="submit" formaction="{{path('research_plan_new_section', {id: researchRequest.id})}}" class="button-add-section" id="button-add-section">
                + Add a new section
            </button>
        </div>
    </div>

    <div class="section-form">
        <input type="hidden" name="research-request-id" value="{{ researchRequest.id }}">
        <input type="hidden" name="research-request-coach" value="{{ researchRequest.researchTemplate.coach }}">
        <input type="hidden" id="plan_status" name="research-plan-status" value="Sent to user">
        <div>
            {% include 'research_plan/_layout_edit_section_plan.html.twig' %}
        </div>
        <button formaction="{{path('research_plan_new_section', {id: researchRequest.id})}}" class="send-research-plan" id="send-research-plan">
            <img src="{{ asset('build/images/icons/send.png') }}" alt="icon send"> 
            Update this section
        </button>
    </div>
</div>
</form>

{% endblock %}